* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4EAE0;
    border: 2px;
    border-color: #1A120B;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 15px;
    border-radius: 12px;
    background: #45474B;
    box-shadow: 0 8px 10px rgba(1, 0, 0, 0.05);
}
.display{
    height: 60px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #1A120B;
    border-radius: 8px;
    pointer-events: none;
    padding-right: 8px;
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    background-color: #B6C7AA;
    cursor: pointer;
}

.buttons button:active {
    transform: scale(0.99);
}

.operator {
    color: #3AA6B9;
}